<main>
  <div>
    <h2>Patient Dashboard</h2>
    <div>
    <h4>{{user.firstname}} {{user.lastname}} | {{user.date_of_birth}}</h4>
    </div>
    <div>
        <div>
          {{!-- if the list is not the most recent list, show the created timestamp --}}
        {{!-- {{#if (eq list.id '!=' list.recentlistid)}} --}}
            {{list.createdAt}}
        {{!-- {{/if}}ß --}}
        </div>
        <h3> Medication List </h3>
        <button>Previous Lists</button>
        <button>Save List</button>
        <div>
            {{{data.lists.[0].list_text}}}
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nesciunt veniam explicabo expedita voluptatem. Sapiente nam nemo maxime assumenda laudantium perspiciatis, dicta tempore eveniet error rem, fugit obcaecati provident excepturi.</div>
    </div>
  </div>
</main>